@{
    ViewBag.Title = "Login";
}

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">User</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <input class="form-control" placeholder="Vui lòng nhập tên" id="txtUserName" />
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" id="btnOK" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#myModal").modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });

            $('#btnOK').click(function () {
                var userName = $('#txtUserName').val();
                if (userName) {
                    $.ajax({
                        url: '/Home/Login',
                        type: 'POST',
                        data: { userName },
                        success: function (response) {
                            if (response) {
                                window.location.href = '/Home/Index'
                            }
                        }
                    });
                }
                return false;
            });
        });
    </script>
}